<!DOCTYPE html>
<html>
  <head>
    <title>j o r d &nbsp;|&nbsp; f r o n t e n d d e v </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/ptk6afx.css">
  </head>

  <body class="font-sans">
    <%= yield %>
    <div id="main-cursor"></div>
    <div id="follow-cursor"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </body>
</html>
