<!DOCTYPE html>
<html>
  <head>
    <title>JordiHales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans">
    <%= yield %>
    <div id="main-cursor"></div>
    <div id="follow-cursor"></div>
  </body>
</html>
